* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 html, body {
    height: 100%;
    background-color: rgb(218, 242, 245);
} 
#root {
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(218, 242, 245);
}

.App {
    width: 800px;

}

.about {
    margin-top: 300px;
    height: 100%;
   
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post-enter {
    transform: translateX(-350px);
}

.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    transform: translateX(350px);
    transition: all 500ms ease-in;
}

.post__btns{
    display: flex;
    
}

.page__wrapper {
    margin-top: 30px;
    display: flex;

}

.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer; 
}

.page_current {
    border: 2px solid orange;
    font-weight: bold;
}

.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: rgb(164, 223, 247);
}

.navbar__items {
    margin-left: auto;
    
}

